<nav>
  <ul *ngFor="let contact of global.locContacts | orderBy : ['lastName', 'firstName']; let i = index">
    <li class="nav-left__heading" *ngIf="addLetterDivider(i)">
      {{global.locContacts[i].lastName[0].toUpperCase()}}
    </li>
    <li class="nav-left__element" (click)="selectActive(contact.id)" [ngClass]="{'active': isActive(contact.id)}" >
        {{contact.firstName}} / {{contact.lastName}}
        <img class='nav-left__remove_icon' *ngIf='isActive(contact.id) && global.isEditing' (click)='removeContact(contact.id)' src="../../assets/icon_delete.svg" alt="delete">
    </li>
  </ul>
</nav>