@import "../../assets/_variables.scss";

.contact-details__heading_name {
    font-size: 50px;
    padding-bottom: 120px;
}

.contact-details__content_wrapper {
    padding: 80px 50px 10px 50px;
    float: left;
    position: relative;
    height: 100vh;
    width: 70%;
    box-sizing: border-box;
}

table {
    width: 100%;
}

table tr {
    border-bottom: 1px solid $line_color;
}

.contact-details__table_left_heading {
    color: $heading_gray;
    padding-left: 100px;
    width: 20%;
    text-align: right;
}

.contact-details__table_right_text {
    padding-left: 10px;
    width: 80%;
    text-align: left;
}

.contact-details__footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 30px;
}

.contact-details__edit_button {
    float: right;
}