@import "../../assets/_variables.scss";

.contact-details__heading_name {
    font-size: 50px;
    padding-bottom: 120px;
}

table tr {
    border-bottom: 1px solid $line_color;
}

.contact-details__table_left_heading {
    color: $heading_gray;
    padding-left: 100px;
    width: 20%;
    text-align: right;
}

.contact-details__table_right_text {
    padding-left: 10px;
    width: 80%;
    text-align: left;
}

.contact-details__footer {
    position: absolute;
    box-sizing: border-box;
    left: 50px;
    right: 50px;
    bottom: 30px;
}

.contact-details__edit_button {
    float: right;
}

.contact-details__inline {
    display: inline-block;
}

.contact-details__inline_input {
}