/* You can add global styles to this file, and also import other style files */

@import "./assets/_resets.scss";
@import "./assets/_variables.scss";

html {
  font: 400 22px/45px "Helvetica Neue", Helvetica, Arial, "sans-serif";
  color: $basic_color;
};