<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
      <app-nav-left (messageEvent)="receiveMessage($event)"></app-nav-left>
  </mat-sidenav>
  {{global.activeContact.id}}
  <app-contact-details [(activeContactId)]="activeContactId"></app-contact-details>
  <!-- {{ activeContact !== null ? this.global.getContactById(activeContact).firstName : null }} -->
  <!-- <mat-sidenav-content>
    Main contentfasdfasfsfasaffafaffds {{activeContact}}
  </mat-sidenav-content> -->
</mat-sidenav-container>
<!-- <app-nav-left (messageEvent)="receiveMessage($event)"></app-nav-left> -->
