.container {
  display: flex;
  flex-direction: row;
}

.left-nav {
  height: 100vh;
  width: 30%;
  background: #e1e2e4;
  padding-top: 80px;
  overflow: scroll;
  box-sizing: border-box;
}

.contact-details__content_wrapper {
  width: 70%;
  padding: 80px 50px 10px 50px;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}